@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=BBH+Bartle&family=Bungee&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Fjalla+One&family=Geom:ital,wght@0,300..900;1,300..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+US+Trad+Guides&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar .icon{
    margin-top: 7px !important;
}
.about{
    display: flex;
justify-content: center;

}

.about img{
    width: 50%;
    height: 500px;
 
}

.about .natural{
    color: rgb(99, 113, 125)  !important;
        width: 50%;
height: 500px;
background-color: antiquewhite;
}

.about .natural h1{
    font-size: 50px;
    margin-left: 180px;
    margin-top: 150px;
    font-weight: bold;
    color: black;
      font-family: "Playfair Display", serif;

}

.about .natural .h{
    font-size: 50px;
    margin-left: 180px;
    margin-top: 10px;
    font-weight: bold;
       color: black;
  font-family: "Playfair Display", serif;
}

.about .natural p{
    width: 400px;
margin-left: 120px;
}

.about .natural button{
    margin-left: 150px;
  
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .about img,
    .about .natural {
        width: 100%;
        height: auto;
    }

.about .natural p{
    width: auto;
    margin-left: 0px;
}

.about .natural .h{
    margin-left: 0px;
}

.about .natural h1{
    margin-left: 0px;
}

.about .natural button{
    margin-left: 0px;
}
   
}

.container{
    display: flex;
   justify-content: space-between;
    align-items: center;
    padding: 40px;
  
}


.container img{
justify-content: space-between;
width: 150px;
height: 50px;
margin: 30px;
flex-direction: column;
flex-wrap: wrap;

}

.container .img1{
    margin-right: 0px;
    margin-left: 0px;
}

@media (max-width: 829px){
    .container {
        flex-direction: column;
        align-items: center;
    }

    .container img {
       margin: 50px;
       max-width: 100%;
  height: auto;
    }
}

.section{
    display: flex;
    padding: 10px 0 0 0;
       flex-wrap: wrap;
}

.section-img img{
 
    width: 90%;
margin-left: 0px;
    height: 700px;
    padding-left: 0px;
}

.section-content p{
   width: 600px;
align-items: center;
font-size: 20px;
 line-height: 40px;
 color: rgb(125, 120, 113);
   flex-wrap: wrap;
}

.section-content h1{
     font-family: "Playfair Display", serif;
     font-size: 40px;
     font-weight: 800;
}


@media (max-width: 768px) {
    .section {
        flex-direction: column;
        align-items: center;
    }

    .section-img img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .section-content p {
        width: auto;
    
    }
}

.section2{
    display: flex;
  
        flex-wrap: wrap;
      
}

.section-img2 img{
 
    width: 50%;
    height: 500px;    */
      margin-left: 600px;
}

.section-content2 p{
 width: 600px;
align-items: center;
font-size: 20px;
 line-height: 40px;
 /* color: rgb(125, 120, 113);
   margin-left: -1090px;   */

}


.section-content2 h1{
     font-family: "Playfair Display", serif;
     font-size: 40px;
     font-weight: 800;
      /* margin-left: -1020px;   */
}

.section-content2 .btn {
   /* margin-left: -1030px; 
margin-right: 0px; */
}

@media (max-width: 768px) {
    .section2 {
        flex-direction: column;
        align-items: center;
    }

    .section-img2 img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .section-content2 p {
        width: auto;
    
    }
}